.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}




.list-cell:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.combo-box-base .list-view .list-cell:filled:focused{
    -fx-background-color: #006699;
}
.combo-box-base .list-view .list-cell:filled:hover{
    -fx-background-color: #006699;
}

